.h1{
color: green; 
}
 
.h1:hover{
    color: white; 
}
 
html.can-touch h1:hover{
    color: pink;  /* disable hover effect on touch devices */
}



.one {grid-area: one;}

.painting-container{grid-template-columns: repeat(12, 1fr); grid-template-rows: auto;   display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  margin: 0% 10%;}

.one {grid-column: 1 / span 6;  grid-row: 2 / span 1;}



.painting {
  position: relative;
  justify-self: center;
  align-self: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: .5s ease;
  opacity:0;
  color: white; 
}

.painting:hover .overlay {
  opacity: 1;
}

body {
    background-color: cream;
    font-family: Avenir;
    text-align: center;
}
  
  
h1 {
    font-size: 40px; 
}
  
.text, #Contents {
    color: green; 
}
  
#uclshowcase {
    width: 500px;
    height: auto;
}

@media only screen and (max-width: 400px) {
  #uclshowcase {
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  #smiley {
    max-width: 300px;
    width: 100%;
  }
}

#navigation {
    
  display: inline-block;        
  width: 110px;              /* sets the width of the element */
  height: 36px;              /* sets the height of the element */
  margin-top: 30px;          /* sets the margin above the element */
  background-color: #eddccb; /* sets the background color of the element */
  border-radius: 6px;       /* rounds the corners of the element border */
  
  color: rgb(74, 74, 221);          /* sets the color of the text */
  font-size: 14px;       /* sets the font size of the text */
  text-align: center;    /* horizontally centers the text inside the element */
  line-height: 36px;     /* vertically centers the text inside the element */
  text-decoration: none; /* removes the underline from the link text */
  transition: 0.5s;      /* creates a fade effect for the text on mouse hover */
}

  /* prevents the text color from changing after the link is clicked */
  #navigation:visited { color: white; }
  
  /* changes the text color on mouse hover */
  #navigation:hover { color: green;  }


#UAL_website {
    
    display: inline-block;            /* makes the <a> element a block-level element */
    width: 165px;              /* sets the width of the element */
    height: 36px;              /* sets the height of the element */
    margin-top: 30px;          /* sets the margin above the element */
    background-color: #eddccb; /* sets the background color of the element */
    border-radius: 6px;       /* rounds the corners of the element border */
    
    color: rgb(74, 74, 221);          /* sets the color of the text */
    font-size: 14px;       /* sets the font size of the text */
    text-align: center;    /* horizontally centers the text inside the element */
    line-height: 36px;     /* vertically centers the text inside the element */
    text-decoration: none; /* removes the underline from the link text */
    transition: 0.5s;      /* creates a fade effect for the text on mouse hover */
  }

  
  /* prevents the text color from changing after the link is clicked */
  #UAL_website:visited { color: white; }
  
  /* changes the text color on mouse hover */
  #UAL_website:hover { color: green;  }
